@font-face {
	font-family: "uni 05_64";
	src: url("/uni0564-webfont.woff");
}

html, body { 
  margin: 0; 
	width:  100%;
	height: 100%;
	font-family: "uni 05_64";
	color: white;
}

body {
	background-color: black;
	display:flex;
	align-items: center;
}

.gameCanvas {
	display:block;
	background-color: white;
	height: 100%;
	margin: auto;
	image-rendering: crisp-edges;
}


@media screen and (max-aspect-ratio: 16/9) {
	.gameCanvas {
		height: auto;
		width:100%;
	}
}
